body {
    background-color: rgb(34, 34, 34);
    overflow: hidden;
}

.logo {
    width: 8rem;
    z-index: 2555;
}

.Navbar {
    background-color: rgb(81, 81, 81);
    position: fixed;
    top: 0rem;
    width: 100%;
    right: 0rem;
    left: 0rem;
    height: 2.3rem;
    z-index: 25;
    border-radius: .1rem;
    box-shadow: .2rem .1rem .4rem rgba(121, 121, 121, 0.55)
}

.Navbar h1 {
    color: rgb(144, 235, 255);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -.8rem;
    right: -.2rem;
}

.Navbar iframe {
    position: relative;
    top: -11.26rem;
    left: 70rem;
    border: 0rem;
    height: 5rem;
}

.Navbar h1:hover {
    color: rgb(144, 235, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -.8rem;
    cursor: pointer;
}

.home_button {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -3.7rem;
    left: 12.3rem;
}

.home_button:hover {
    color: rgb(144, 235, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -3.7rem;
    left: 12.3rem;
    cursor: grab;
}

.info_button {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -6.6rem;
    left: 21.3rem;
}

.info_button:hover {
    color: rgb(144, 235, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -6.6rem;
    left: 21.3rem;
    cursor: grab;
}

.Center {
    background-color: rgb(29, 29, 29);
    color: rgb(1, 182, 227);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    width: 75rem;
    height: 35rem;
    top: 2.2rem;
    left: 2rem;
    text-align: center;
    border-radius: 2.4rem;
}

.Ads {
    position: absolute;
    z-index: 50;
    bottom: -.5rem;
    left: 24.5rem;
}

.Ads2 {
    position: absolute;
    z-index: 50;
    bottom: 5rem;
    left: 10rem;
}

.Ads3 {
    position: absolute;
    z-index: 50;
    bottom: 5rem;
    left: 30rem;
}

.Ads4 {
    position: absolute;
    z-index: 50;
    bottom: 5rem;
    left: 50rem;
}
