body {
  background-color: rgb(34, 34, 34);
  width: 100%;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/


.logo {
  width: 40rem;

}

.logo_nav{
height:75px;
float: left;
padding-top: 10px;
padding-left: 50px;
}

.Background {
  background-image: url("../src/Backimg.png");
  background-repeat: space;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: block;
  background-attachment: fixed;
  overflow-y:auto;
  overflow-x: hidden;
}

.container {
  background-color: #1b1b1b;
  position: absolute;
  text-align: center;
  border-bottom: solid;
  border-width: 5px;
  padding-bottom: 1.5rem;
  font-family: "Roboto", "Noto", sans-serif;


  top: 0rem;
  width: 100%;
  right: 0rem;
  left: 0rem;
  height: 4rem;

  z-index: 1;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/


  /* The Center */
  .Center {
    
    color: #6537AA;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    font-weight: bolder;
  
    position: relative;
    padding-top: 2rem;
    padding-bottom: 3rem;
    
  
    width: 75%;
    height: 60%;
    top: 10rem;
    left: 12%;
  
    text-align: center;
    border-radius: 1px;
  
  }
  
  .Information {
    margin-top: 20%;
    padding-top: 20%;
    padding-bottom: 10%;
    border-top: solid;
  }
  
  
  /*------------------------------------------------------------------------------------------------------------------------------------*/


  header {
    background: #1f1c1a;
    height: 100px;
  }
  
  header::after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  /*------------------------------------------------------------------------------------------------------------------------------------*/


  /* Nav Text */
.Nav_Text {

}

.Nav_Text ul {
margin: 0;
padding: 0;
list-style: none;
}

.Nav_Text li {
  display: inline-block;
  padding-top: 30px;
  margin-right: 5rem;
  left: -5rem;
  position: relative;

}

.Nav_Text a {
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  
  
}

.Nav_Text a:hover {
  color: #6537AA;
}
.Nav_Text a::before {
  content: "";
  display: block;
  height: 5px;
  background-color: #6537AA;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
.Nav_Text a:hover::before {
  width: 100%;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/


.Sign_up {
  position: absolute;
  margin-top: 1%;
  margin-left: 35%;
  width: 3%;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/


.info_button {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: left;
  position: relative;
  top: -6.6rem;
  left: 21.3rem;
}

.info_button:hover {
  color: rgb(144, 235, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  text-align: left;
  position: relative;
  top: -6.6rem;
  left: 21.3rem;
  cursor: grab;
}
  /* End of Nav Text */


  /*------------------------------------------------------------------------------------------------------------------------------------*/




.searchnav {
    background-color: #1a1a1a;

  }
  

  /* Style of search box */
  .searchnav input[type=text] {

    font-size: 15px;
    background-color: #1a1a1a;
    color: white;
    padding-top: 25px;
    border-radius: 20px;
    text-align: center;
    margin-left: 40%;
    margin-top: -1000%;

  }
  

/*------------------------------------------------------------------------------------------------------------------------------------*/

.Footernav{
  background-color: #1b1b1b;
  position: relative;
  text-align: center;

  margin-left: -5%;
  bottom: -28%;
  width: 1000%;
  right: 0rem;
  left: 0rem;
  height: 15rem;


}




/*------------------------------------------------------------------------------------------------------------------------------------*/


.Ads {
  position: absolute;
  z-index: 50;
  bottom: -0.5rem;
  left: 24.5rem;
}

.Ads2 {
  position: absolute;
  z-index: 50;
  bottom: 5rem;
  left: 10rem;
}

.Ads3 {
  position: absolute;
  z-index: 50;
  bottom: 5rem;
  left: 30rem;
}

.Ads4 {
  position: absolute;
  z-index: 50;
  bottom: 5rem;
  left: 50rem;
}


/*------------------------------------------------------------------------------------------------------------------------------------*/


.paypal-button {
  position: absolute;
  z-index: 21412412450;
}

.Sign_up:hover {
  cursor: grab;
}