body {
    background-image: url("../src/Backimg.png");
    background-repeat: space;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: block;
  
    overflow-y: hidden;
}

.login-box {
    color: white;
    position: relative;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    top: 18%;
}
.login-data{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    position: relative;
    text-align: center;
    top: 14%;
}
.username {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
}
.password {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
}

.backg {
    background-color: rgba(15, 15, 15, 0.689);
    position: relative;
    width: 65%;
    height: 75%;
    text-align: center;
    border: none;
    border-radius: 2rem;
    top: 5rem;
    left: 18%;
}

.backg h1 {
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
}