body {
    background-color: rgb(34, 34, 34);
    overflow: hidden;
}

.Background {
    background-image: url("file:///C:/Users/eagle/Downloads/Backimg.png");
    background-repeat: space;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: block;


}

.container {
    background-color: #1b1b1b;
    position: fixed;
    top: 0rem;
    width: 100%;
    right: 0rem;
    left: 0rem;
    height: 8rem;
    z-index: 25;
}

header {
  background: #1f1c1a;
  height: 100px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}


.Nav_Text {
    text-align: left;

}

.Nav_Text ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.Nav_Text li {
  display: inline-block;
  left: 30%;
  margin-left: 75px;
  padding-top: 23px;
  

  position: relative;
}

.Nav_Text a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  
}

.Nav_Text a:hover {
  color: rgb(0, 0, 0);
}
.Nav_Text a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: rgb(0, 0, 0);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}
.Nav_Text a:hover::before {
  width: 100%;
}

.home_button {
    color: rgb(144, 235, 255);
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -3.7rem;
    left: 12.3rem;
}

.home_button:hover {
    color: rgb(144, 235, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -3.7rem;
    left: 12.3rem;
    cursor: grab;
}

.Center {
    background-color: #1b1b1b;
    color: rgb(255, 255, 255);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    padding-top: 2rem;
    width: 75rem;
    height: 40rem;
    top: 15rem;
    left: 20rem;
    text-align: center;
    border-radius: 10px;
}

.VideoPlayer {
    width: 50rem;
    height: 40rem;
    border-radius: 2rem;
    position: relative;
    top: -18rem;
    left: 33rem;
    z-index: 6;
}

.info_button {
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -6.6rem;
    left: 21.3rem;
}

.info_button:hover {
    color: rgb(144, 235, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: left;
    position: relative;
    top: -6.6rem;
    left: 21.3rem;
    cursor: grab;
}

.Episodes {
    position: relative;
    z-index: 50;
    top: -1rem;
    background-color: black;
    border: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Episodes:hover {
    position: relative;
    z-index: 50;
    top: -1rem;
    background-color: rgb(39, 38, 38);
    border: 0;
    color: rgb(198, 246, 255);
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Shows {
    position: relative;
    z-index: 50;
    top: -1rem;
    background-color: black;
    border: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Stream {
    position: relative;
    z-index: 50;
    top: .2rem;
    left: 36rem;
    background-color: black;
    border: 0;
    color: white;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Ads {
    position: absolute;
    z-index: 50;
    bottom: -.5rem;
    left: 24.5rem;
}